package common


templ Footer(name string) {
  <footer class="h-10 text-sm p-4 flex justify-center bg-gray-400 dark:bg-gray-900 ">
	<div>Originally from @kanibalv, Do whatever you want with it!!!</div>
  </footer>
}
